doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title StrikeRepo | Repo
        link(rel="stylesheet", href="/css/semantic.min.css")
        script(src="/js/utils.js")
    body(style="background-color: #2c3e50;")

div(class="ui inverted segment")
    div(class="ui inverted secondary pointing menu")
        a(class="item" href="/") Home
        a(class="active item", href="/repos") Repositories 
        if isAdmin
            a(class="item" href="admin/") Admin 
        div(class="right menu")
            a(class="item" href="logout") Log out
        

table(class="ui selectable inverted table")
    thead
        tr
            th Artefacte
            th Version
            th Package
            th Ouvrir
            tbody
        each val, index in repo.artefacts
            tr
                td= index
                td= val.version
                td= val.package
                td
                    button(class="ui red button" onClick="redirect('repo/"+repo.name+"/"+index+"')") Ouvrir   
    tbody